#!/bin/sh
DATA_TYPE="wsj"
AUG_TYPE="dummy"
ARCH="hybrid_dual"
RNN_SIZE=256
TRAIN_WITH_AUG=0
DEC_LAYERS=1
NUM_CONCAT_FLAGS=2
ADD_NOISE=0
HIGHWAY_CONCAT=0
MIX_FACTOR="0.8"
END_MIX_FACTOR="0.1"
DROPOUT="0.05"
NUM_EPOCHS=60
BATCH_SIZES=128
if [ ${DATA_TYPE} == 'wsj' ]
then
  WORD_VEC_SIZE=415
else
  WORD_VEC_SIZE=123
fi
if [ ${MIX_FACTOR} == "0.0" ]
then
  END_MIX_FACTOR="0.0"
else
  END_MIX_FACTOR="0.3"
fi
if [ ${TRAIN_WITH_AUG} -eq 0 ]
then
  MIX_FACTOR="0.0"
  END_MIX_FACTOR="0.0"
fi
SUBSAMPLE=1
WEIGHT_NORM=1
